<div class="animated fadeIn">
  <div class="card m-4">
    <ngx-spinner bdColor="rgba(172, 179, 191,1)" size="medium" color="#fff" type="pacman" [fullScreen]="false">
      <p style="color: white"> Loading... </p>
    </ngx-spinner>
    <div class="card-header">
      <div class="row">
        <div class="col-lg-4">
          <b>Hyperlinks</b>
        </div>
      </div>
    </div>
    <div class="card-body">
      <app-add-edit-hyperlinks (submited)="refreshGrid()" #editElement></app-add-edit-hyperlinks>
      <div class="row">
        <div class="col-sm-3">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text text-primary"><i class="fa fa-search"></i></span>
            </div>
            <input type="text" class="form-control" [(ngModel)]="filterQuery" placeholder="Search..."
              autocomplete="off" />
          </div>
        </div>
        <div class="col-sm-9">
          <div class="row justify-content-end pr-3 m-1">
            <button [disabled]="lawId==null" class="btn btn-outline-success btn-icon btn-round" (click)="addItem()"><i
                class="fa fa-plus"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-1 text-center">
          <label>Language</label>
          <div class="btn-group" role="group">
            <button type="button" [ngClass]="{'lang-btn' : language==albanian}" class="btn btn-outline-primary"
              (click)="onLanguageSelect(albanian)">AL</button>
            <button type="button" [ngClass]="{'lang-btn' : language==english}" class="btn btn-outline-primary"
              (click)="onLanguageSelect(english)">EN</button>
          </div>
        </div>
        <div class="col-sm-3">
          <label for="parent">Law Group</label>
          <ng-select id="parent" [items]="parentList" [(ngModel)]="parentId" bindLabel="name" bindValue="id"
            placeholder="Select law group... *" (ngModelChange)="getLaws($event)">
          </ng-select>
        </div>
        <div class="col-sm-3">
          <label for="law">Law</label>
          <ng-select id="law" [items]="lawList" [(ngModel)]="lawId" bindLabel="name" bindValue="id"
            placeholder="Select law... *" (ngModelChange)="getHyperLinks($event)">
          </ng-select>
          <div class="text-muted text-color"> <small>Tip: Choose a main category first*</small></div>
        </div>
      </div>
      <br>
      <app-table (paginationEmitter)="onAlbanianTablePaginationValuesChange($event)"
        [paginationModel]="albanianPaginationModel" [rows]="linksList | filter:filterQuery" [columns]="columnsLink"
        (actionClicked)="onActionClick($event)">
      </app-table>
    </div>
  </div>
</div>