<div class="animated fadeIn">
  <tabset>
    <ngx-spinner bdColor="rgba(172, 179, 191,1)" size="medium" color="#fff" type="pacman" [fullScreen]="false">

    </ngx-spinner>
    <tab heading="Shqip (sq-AL)" (selectTab)="onTabSelect(alTab)" [active]="activeTab==alTab">
      <div class="card-body">
        <div class="row">
          <div class="col-lg-3">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text text-primary"><i class="fa fa-search"></i></span>
              </div>
              <input type="text" class="form-control" [(ngModel)]="filterQuery" placeholder="Search..."
                autocomplete="off" />
            </div>
          </div>
          <div class="col-lg-9">
            <div class="row justify-content-end pr-3 m-1">
              <button class="btn btn-outline-success btn-icon btn-round" (click)="openModal()">
                <i class="fa fa-plus"></i>
              </button>
            </div>
          </div>
        </div>
        <br>
        <app-table *ngIf="dataAlbanianTags.length>0" (paginationEmitter)="onAlbanianTablePaginationValuesChange($event)"
          [paginationModel]="albanianPaginationModel" [rows]="dataAlbanianTags | filter:filterQuery" [columns]="columns"
          (actionClicked)="onActionClick($event)">
        </app-table>
      </div>
    </tab>
    <tab heading="English (en-US)" (selectTab)="onTabSelect(enTab)" [active]="activeTab==enTab">
      <div class="card-body">
        <div class="row">
          <div class="col-lg-3">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text text-primary"><i class="fa fa-search"></i></span>
              </div>
              <input type="text" class="form-control" [(ngModel)]="filterQuery" placeholder="Search..."
                autocomplete="off" />
            </div>
          </div>
          <div class="col-lg-9">
            <div class="row justify-content-end pr-3 m-1">
              <button class="btn btn-outline-success btn-icon btn-round" (click)="openModal()">
                <i class="fa fa-plus"></i>
              </button>
            </div>
          </div>
        </div>
        <br>
        <app-table *ngIf="dataEnglishTags.length>0" (paginationEmitter)="onEnglishTablePaginationValuesChange($event)"
          [paginationModel]="englishPaginationModel" [rows]="dataEnglishTags | filter:filterQuery" [columns]="columns"
          (actionClicked)="onActionClick($event)">
        </app-table>
      </div>
    </tab>
    <tab heading="Others" (selectTab)="onTabSelect(otherTab)" [active]="activeTab==otherTab">
      <div class="card-body">
        <div class="row">
          <div class="col-lg-3">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text text-primary"><i class="fa fa-search"></i></span>
              </div>
              <input type="text" class="form-control" [(ngModel)]="filterQuery" placeholder="Search..."
                autocomplete="off" />
            </div>
          </div>
          <div class="col-lg-9">
            <div class="row justify-content-end pr-3 m-1">
              <button class="btn btn-outline-success btn-icon btn-round" (click)="openModal()">
                <i class="fa fa-plus"></i>
              </button>
            </div>
          </div>
        </div>
        <br>
        <app-table *ngIf="dataOthersTags.length>0" (paginationEmitter)="onOtherTablePaginationValuesChange($event)"
          [paginationModel]="otherPaginationModel" [rows]="dataOthersTags | filter:filterQuery" [columns]="columns"
          (actionClicked)="onActionClick($event)">
        </app-table>
      </div>
    </tab>
  </tabset>
</div>
<app-add-edit-tag-modal (submited)="getDataByState(activeTab)" #editElement></app-add-edit-tag-modal>
