<ng-template #template>
  <div class="modal-header">
    <h5 *ngIf="pageType=='add'" class="modal-title pull-left">Add New User</h5>
    <h5 *ngIf="pageType=='edit'" class="modal-title pull-left">Edit User</h5>
    <button type="button" class="close pull-right btn" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group row">
      <label for="firstname" class="col-sm-3 col-form-label col-form-label">Firstname</label>
      <div class="col-sm-9">
        <input type="text" [(ngModel)]="firstName" class="form-control" id="firstname" placeholder="Firstname">
      </div>
    </div>
    <div class="form-group row">
      <label for="lastname" class="col-sm-3 col-form-label col-form-label">Lastname</label>
      <div class="col-sm-9">
        <input type="text" [(ngModel)]="lastName" class="form-control" id="lastname" placeholder="Lastname">
      </div>
    </div>
    <div class="form-group row">
      <label for="email" class="col-sm-3 col-form-label col-form-label">Email</label>
      <div class="col-sm-9">
        <input type="text" *ngIf="pageType=='add'" [(ngModel)]="email" class="form-control" id="email"
          placeholder="Email *">
        <input type="text" *ngIf="pageType=='edit'" [(ngModel)]="email" class="form-control" id="email"
          placeholder="Email" disabled>
      </div>
    </div>
    <div class="form-group row">
      <label for="password" class="col-sm-3 col-form-label col-form-label">Password</label>
      <div class="col-sm-9">
        <input type="password" [(ngModel)]="password" class="form-control" id="password" placeholder="Password *">
      </div>
    </div>
    <div class="form-group row">
      <label for="confirmPassword" class="col-sm-3 col-form-label col-form-label">Confirm Password</label>
      <div class="col-sm-9">
        <input type="password" [(ngModel)]="confPassword" class="form-control" id="confirmPassword"
          placeholder="Confirm Password">
      </div>
    </div>
    <div class="form-group row">
      <label for="role" class="col-sm-3 col-form-label col-form-label">User Roles</label>
      <div class="col-sm-9">
        <ng-select [items]="roles" bindLabel="name" bindValue="id" [multiple]="true"
          placeholder="Select user roles... *" [(ngModel)]="rolesIds">
        </ng-select>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-outline-success" [disabled]="isSubmitted" (click)=" onSubmit()">Save</button>
  </div>
</ng-template>
<ngx-spinner bdColor="rgba(172, 179, 191,1)" size="medium" color="#fff" type="pacman">
  <p style="color: white"> Loading... </p>
</ngx-spinner>