img {
  max-width: 25vw;
  max-height: 30vh;
}

.override {
  font-size: 6px !important;
}

.prime-slider-override {
  font-size: 6px !important;
}

.upl {
  list-style-type: none;
}

.pdf-preview {
  color: #003478 !important;
  cursor: pointer;
}

.pdf-preview:hover {
  color: #436ea5;
  cursor: pointer;
}

.override {
  font-size: 8px !important;
}

.prime-slider-override {
  font-size: 8px !important;
}
