<div class="animated fadeIn">
  <div class="card m-4">
    <div class="card-header">
      <div class="row">
        <div class="col-sm-7 mt-2">
          <span>
            <b>
              <span *ngIf="pageType=='translate'"> <i class="fa fa-globe text-primary"></i>&nbsp;Translate
                Section in ({{language}}): </span>
              {{categoryName}}
              <span *ngIf="lawArticleName.length>0">/</span>
              {{lawArticleName}}
              <span *ngIf="pageType=='add'"><i class="fa fa-plus text-primary"></i>
                &nbsp;{{fullPath}}</span>
            </b>
          </span>
        </div>
        <div class="col-sm-5">
          <div class="row justify-content-end">
            <button class="btn btn-outline-dark btn-size mr-3" (click)="goBack()">Go back</button>
            <button *ngIf="!isCollapsed" class="btn btn-outline-primary mr-3 btn-size" data-toggle="collapse"
              data-target="#collapseContent" role="button" [attr.aria-expanded]="isCollapsed"
              aria-controls="collapseContent" (click)="isCollapsed=!isCollapsed">
              Show Differences
            </button>
            <button *ngIf="isCollapsed" class="btn btn-outline-primary mr-3 btn-size" data-toggle="collapse"
              data-target="#collapseContent" role="button" [attr.aria-expanded]="isCollapsed"
              aria-controls="collapseContent" (click)="isCollapsed=!isCollapsed">
              Hide Differences
            </button>
            <button *ngIf="pageType=='add' || pageType=='translate'" class="btn btn-outline-success mr-3 btn-size"
              (click)="onSubmit()" [disabled]="isSubmitted">Save</button>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body">
      <ng-container>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group row">
              <label for="title1" class="col-sm-2 col-form-label ">Title</label>
              <div class="col-sm-10">
                <input type="text" [(ngModel)]="title" class="form-control" id="title1" placeholder="Title *"
                  [disabled]="pageType=='fullContent'">
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group row">
              <label for="code" class="col-sm-2 col-form-label text-right">Keyword</label>
              <div class="col-sm-10">
                <input type="text" [(ngModel)]="code" class="form-control" id="code" [disabled]="isDisabled"
                  placeholder="Keyword *" [disabled]="pageType!='add' &&  pageType!='translate'">
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <!-- <div class="col-sm-6">
                        <div class="form-group row">
                            <label for="tags" class="col-sm-2 col-form-label">Tags</label>
                            <div class="col-sm-10">
                                <ng-select [items]="tagList" [(ngModel)]="tagIds" bindLabel="name" bindValue="id"
                                    [multiple]="true" placeholder="Select tags..." [disabled]="pageType=='fullContent'">
                                </ng-select>
                            </div>
                        </div>
                    </div> -->
          <div class="col-sm-6">
            <div class="form-group row">
              <label for="order" class="col-sm-2 col-form-label">Order</label>
              <div class="col-sm-10">
                <input type="number" [(ngModel)]="order" min="1" class="form-control" id="order" placeholder="Order *">
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group row">
              <div class="input-group offset-1">
                <div class="form-check">
                  <input type="checkbox" class="form-check-input mt-1" [(ngModel)]="isOverview" id="isOverview">
                  <label class="form-check-label" for="isOverview">Is Overview?</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div *ngIf="!isCollapsed" class="form-group col-sm-12">
            <div class="control-section">
              <ckeditor [editor]="Editor" [config]="editorConfig" [(ngModel)]="content">
              </ckeditor>
            </div>
          </div>
          <div class="collapse col-sm-12" id="collapseContent">
            <div class="row">
              <div class="col-sm-6">
                <ckeditor [editor]="Editor" [config]="editorConfig" [(ngModel)]="initialText" [disabled]="true">
                </ckeditor>
              </div>
              <div class="col-sm-6">
                <ckeditor [editor]="Editor" [config]="editorConfig" [(ngModel)]="content">
                </ckeditor>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
<ngx-spinner bdColor="rgba(172, 179, 191,1)" size="medium" color="#fff" type="pacman">
  <p style="color: white"> Loading... </p>
</ngx-spinner>