.law-type-selected:active {
    background-color: #4f7ab0 !important;
    border-color: #4f7ab0 !important;
    color: white !important;
}

.law-type-selected:hover {
    background-color: #4f7ab0 !important;
    border-color: #4f7ab0 !important;
    color: white !important;
}
