ejs-richtexteditor {
  max-width: 28vw;
  min-width: 100%;
  max-height: 50vh;
  height: 100%;
  min-height: 38vh;
}

.save-law-btn {
  width: 132px;
}

.upload-btn {
  margin-top: 34px;
}

.text-color {
  color: #b7b7b7 !important;
}
