<div class="animated fadeIn">
  <tabset>
    <ngx-spinner bdColor="rgba(172, 179, 191,1)" size="medium" color="#fff" type="pacman" [fullScreen]="false">
      <p style="color: white"> Loading... </p>
    </ngx-spinner>
    <tab id="approve" heading="Pending Approval" [active]="tabStateApprove">
      <div class="card-body">
        <div class="row">
          <div class="col-lg-3">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text text-primary"><i class="fa fa-search"></i></span>
              </div>
              <input type="text" class="form-control" [(ngModel)]="filterQuery" placeholder="Search..."
                autocomplete="off" />
            </div>
          </div>
          <div class="col-lg-9">
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-sm-1 text-center">
            <label for="parent">Language</label>
            <div class="btn-group" role="group">
              <button type="button" [ngClass]="{'lang-btn' : language==albanian}" class="btn btn-outline-primary"
                (click)="onLanguageSelect(albanian)">AL</button>
              <button type="button" [ngClass]="{'lang-btn' : language==english}" class="btn btn-outline-primary"
                (click)="onLanguageSelect(english)">EN</button>
            </div>
            <!-- <label id="lang" class="switch  switch-label switch-success">
              <input type="checkbox" class="switch-input" checked (click)="onSwitchEvent($event, 'approve')">
              <span class="switch-slider slider round" data-checked="AL" data-unchecked="EN"></span>
            </label> -->
          </div>
          <div class="col-sm-3">
            <label for="parent">Law Group</label>
            <ng-select id="parent" [items]="parentList" [(ngModel)]="parentId" bindLabel="name" bindValue="id"
              placeholder="Select law group... *" (ngModelChange)="getLaws($event)">
            </ng-select>
          </div>
          <div class="col-sm-3">
            <label for="law">Law</label>
            <ng-select id="law" [items]="lawList" [(ngModel)]="lawId" bindLabel="name" bindValue="id"
              placeholder="Select law... *" (ngModelChange)="getChapters($event)">
            </ng-select>
            <div class="text-muted text-color"> <small>Tip: Choose a main category first*</small></div>
          </div>
          <div class="col-sm-3">
            <label for="chapter">Chapter</label>
            <ng-select id="chapter" [items]="chapterList" [(ngModel)]="chapterId" bindLabel="name" bindValue="id"
              placeholder="Select chapter... *" (ngModelChange)="getLawAmendments($event)">
            </ng-select>
            <div class="text-muted text-color"> <small>Tip: Choose a law first*</small></div>
          </div>
        </div>
        <br>
        <app-table (paginationEmitter)="onPaginationValuesChange($event)" [paginationModel]="paginationModel"
          [rows]="data | filter:filterQuery" [columns]="pendingColumns"
          (actionClicked)="onActionClick($event , 'pendingApproval')" [publish]="true" [delete]="false"
          (actionPublished)="publishLaw($event)">
        </app-table>
      </div>
    </tab>
    <tab id="delete" heading="Deletion Approval" (selectTab)="tabSelected($event)" [active]="tabStateDelete">
      <div class="row justify-content-end">
        <div class="col-sm-1 text-center">
          <div class="btn-group" role="group">
            <button type="button" [ngClass]="{'lang-btn' : language==albanian}" class="btn btn-outline-primary"
              (click)="onLanguageSelect(albanian)">AL</button>
            <button type="button" [ngClass]="{'lang-btn' : language==english}" class="btn btn-outline-primary"
              (click)="onLanguageSelect(english)">EN</button>
          </div>
          <!-- <label id="lang" class="switch switch-label switch-success">
            <input type="checkbox" class="switch-input" checked (click)="onSwitchEvent($event, ' delete')">
            <span class="switch-slider slider round" data-checked="AL" data-unchecked="EN"></span>
          </label> -->
        </div>
        <!-- <div class="col-sm-3">
          <div class="input-group" style="margin-top: 26px">
            <div class="input-group-prepend">
              <span class="input-group-text text-primary"><i class="fa fa-search"></i></span>
            </div>
            <input type="text" class="form-control" placeholder="Search..." autocomplete="off" />
          </div>
        </div> -->
      </div>
      <br>
      <br>
      <app-table (paginationEmitter)="onDeletionTablePaginationValuesChange($event)" [paginationModel]="paginationModel"
        [rows]="deletionData" [columns]="deleteColumns" [edit]="false" [fullContent]="true"
        (actionClicked)="onActionClick($event , 'deletionApproval')">
      </app-table>
    </tab>
  </tabset>
</div>