.ng-select {
    width: 100%;
}

.current-category {
    border: 1px solid lightblue;
    padding: 10px 10px 0px;
    border-radius: 2px;
    background: #eaf5f9;
    color: #007386;
    margin: 0 0 15px;
}

.ng-dropdown-panel.ng-dropdown-panel-items.ng-option {
    color: #5c6873;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected,
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected.ng-option-marked {
    color: #283d58;
}

.ng-select .ng-clear-wrapper .ng-clear {
    color: #aa272f;
}

div.ng-select,
input.ng-select,
span.ng-select,
span.ng-option-label {
    color: red !important;
}
